.sort-drag {
    /* opacity: ~0.8 /*<- set automatically*/
    opacity: 0 !important;
}
.sort-chosen { /* placeholder indicates where item will be dropped. starts as soon as delay is over */
    opacity: 0.6;
    /* padding: 4px; */
    /* background-color: #17a59a; */
}

.sort-quick, .sort-quick.selected {
    font-size: 0.5rem;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.sort-quick > .btns {
    display: none;
}

.sort-quick > .title {
    display: inline;
    padding: 0;
}