.sortable-drag {
    padding: 4px;
    /* opacity: ~0.8 /*<- set automatically*/
}
.sortable-chosen { /* placeholder indicates where item will be dropped. starts as soon as delay is over */
    opacity: 0.3;
    transition: unset;
    /* padding: 4px; */
    background-color: #17a59a;
    transform: translate(-2px, -2px);
}
.sortable-ghost { /* placeholder indicates where item will be dropped. starts as soon as item is moved */
    opacity: 0.3;    
    padding: 0;
}

.sortable-quick, .sortable-quick.selected {
    font-size: 0.5rem;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.sortable-quick > .btns {
    display: none;
}

.sortable-quick > .title {
    display: inline;
    padding: 0;
}