body {
    height: 100%;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    background-color: #dadada;
}

button {
    border: 0;
    color: #bbb;
    font-size: 16px;
    /* font-weight:  700; */
    cursor: pointer;
    user-select: none;
    background-color: transparent;
}

.json {
    display: none;
    margin: 4px 0;
    color: grey;
    font-size: 6pt;
    line-height: 1;
}

.hidden {
    display: none !important;
}

/*
*   B O X
*/
.box {
    position: relative; /* for btn position absolute */
    max-width: 1600px;

    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: 2px solid #6270b3;
    border-radius: 7px;
    color: #ccc;
    background: #18356b;
    transition: all          0.3s linear,
                background   0.5s ease-in-out 0.52s,
                color        0.5s ease-in-out 0.52s,
                border-color 0.5s ease-in-out 0.52s,         
                border-width 0.2s ease-in-out;
}
.ontop-box.box {
    width: 100%;

    border-top: 3px solid #999;
    border-bottom: none;
    color: #555;
    background: #eee;   
    /* box-shadow: black 0px 0px 8px -2px; */
}
.default-box.box {
    padding: 10px;
    /* box-shadow: black 0px 0px 14px -2px; */
}
.prop-box.box {
    display: inline-block;
    min-width: 148px;
    max-width: 42vw;

    margin: 3px;
    padding: 3px;
    border-color: #ccccfc;
    color: black;
    background: #e2e2e2;
    filter: none;
}
.point-box.box {
    margin-top: 3px;
    margin-bottom: 0;
    padding: 3px 6px; /* top+bottom left+right */
}
.box.deleted {
    background: #222;
    color: #888
}
.box.selected{
    z-index: 1;
    border-width: 3px 0px;
    border-style: solid;
    border-color: #17a59a;
}

/*
*   T I T L E
*/
.title {
    min-height: 27px; /* 16px font height */
    font-weight: 600;
    margin: 0;
}
.ontop-box > .title {
    font-size: 21px;
    cursor: pointer;
}
.default-box > .title {
    margin: 20px 0px;
    font-weight: 400;
    font-size: 30px;
}
.prop-box > .title {
    max-width: 365px;
    margin-right: 18px;
    font-size: 20px;
}
.point-box > .title {
    margin-right: 18px;
    font-weight: 400;
    font-size: 16px;
}
.deleted > .title {
    font-size: 13px;
    cursor: pointer;
}


/*
*   T A G S
*/
/* .tags {
    margin-bottom: 10px;
} */

.tag {
    display: none;
    margin-right: 3px;
    padding: 0px 5px; /* top+bottom left+right */
    border: 2px solid #bcbcbc;
    border-radius: 10px;
    color: lightgrey;
    font-weight: 600;
    font-size: 9pt;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.prop-box .tag {
    border-width: 1px;
    color: gray;
    font-weight: 500;
    font-size: 8pt;
}
.point-box .tag {
    color: lightgrey;
}
.deleted .tags {
    display: none;
}


/*
* B I G   C O N T A I N E R
*/
.deleted .props-and-buttons { 
    display: none;
}
/** P R O P S */
.props {
    min-height: 0;
    transition: all 0.2s ease-in;
}
.default-box .props { 
    display: inline;
}
.prop-box .props { 
    display: inherit;
}


/** B U T T O N S   C O N T A I N E R*/
.btns { 
    display: inline;
}

/*
*   B U T T O N S
*/
.btninsidebox {
    opacity: 0.5;
    text-align: center;
    /* cursor: pointer; */
}
.ontop-box .btninsidebox {
    display: block;
    max-width: 42vw;

    margin: 0px auto;
    padding: 0 30px;
    font-weight: 700;
    font-size: 45px;    
}
.default-box .btninsidebox {
    display: inline;

    margin-left: 5px;
    padding: 11px 60px;
    border: 3px solid #bbb;
    border-radius: 7px;
    font-weight: unset;
    font-size: 20pt;
    line-height: 25px;
}
.prop-box .btninsidebox {
    display: inline-block;
    margin: 5px 0px;
    padding: unset;
}
.deleted .btninsidebox {
    display: none;
}
/** A D D    P R O P S    B U T T O N*/
.prop-box .addprop {
    color: #999;
    width: 77%;
}
/** F U L L S C R E E N    B U T T O N*/
.prop-box .fullscbtn {
    position: absolute;
    right: 0;
    padding-top: 3px;
    border-color: transparent;
}

/** C H I L D C O U N T E R*/
.childcounter {
    opacity: 0.45;
    position: absolute;
    right:    0px;
    bottom:  -1px;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
}

/*
*   O P E N   M E N U   B T N  ":"
*/
.menubtn{    
    position: absolute;
    right: 0;
    font-weight:  700;
}
.deleted .menubtn {
    display: none;
}

/*
*   M E N U
*/
.boxmenu{
    position: absolute;
    top: -24px;
    right: 0px;
    border: 3px solid #17a59a;
    border-width: 3px 1px;
    border-radius: 5px;
    background-color: #e2e2e2;    
}
.deleted .boxmenu {
    top: 0;
    right: 0;
    border: 0;
}
.boxmenu button {
    padding: 0 18px;
    color: #222;
    font-weight:  700;
}
.deleted .boxmenu {    
    background-color: transparent;
}
.deleted .boxmenu button{
    color: #888;
}
.deleted .fullbtn {
    display: none;
}



/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* laptop styles */
@media screen and (min-width: 960px) {    
    .ontop-box.box {
        padding: 3px;
        box-shadow: black 0px 0px 8px -2px;
    }
    .default-box.box {
        box-shadow: black 0px 0px 14px -2px;
    }
    .title {
        margin: 0px;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
    
}