html
    head
        title= doc[0].title
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/myy.css')
        link(rel='stylesheet' href='/css/saver.css')
        link(href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet")
    body
        
        div.boxes
            for box in doc
                div(data-id=box._id).box.default-box
                    p.title(contenteditable = "true")= box.title
                    
                    div.props
                        for prop in box.props
                            div.box.prop-box
                                p.title

        button.addprop +