html
    head
        title bla
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/my.css')
        link(rel='stylesheet' href='/css/muuri.css')
        link(href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet")
    body
        a#new(href='/') new

        div.boxes            

        script(type='module' src='/js/main.js')
        script(src='https://cdn.jsdelivr.net/npm/muuri@0.9.3/dist/muuri.min.js')
        script(src='https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js')
            