html
    head
        title bla
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/my.css')
        link(rel='stylesheet' href='/css/dragdrop.css')
        link(rel='stylesheet' href='/css/saver.css')
        link(href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet")
    body
        a#new(href='/') new

        for box in boxes
            p(style="display:none").json= JSON.stringify(box)

        p(style="display:none").json= JSON.stringify(collection)

        div.boxes            

        script(type='module' src='/js/main.js')
        script(src='https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js')