html
    head
        include includes/head.pug
    body
        for box in boxes
            p(style="display:none").json= JSON.stringify(box)
        
        p(style="display:none").json= JSON.stringify(collection)
        
        include includes/site.pug